<section id="about">
	<% var field_sort = theme.posts_overview.sort_updated ? 'updated' : 'date' %>
	<% var show_posts = page.posts.sort(field_sort, 'desc') %>
	<% show_posts.each(function(post, i){ %>
	<% if (i < 6) { %>

	<% if (i == 0 || i == 3) { %>
	<span class="featuredCard featuredCardBig">
		<% } else { %>
		<span class="featuredCard">
			<% } %>

			<span class="featureCardInner">
				<span style="font-weight: bold;" class="featuredCardTitle"><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
				<img onclick="document.location='<%- post.permalink %>';return false;" src="<%- post.thumbnail %>" class="featuredCardImage hasTarget" />
			</span>
		</span>
		<% } %>
		<% }); %>
		<% if (theme.posts_overview.show_all_posts) { %>
		<%- partial('_partial/pagination') %>
		<% } %>
</section>

<section id="writing" style="margin-bottom: 20px;">
	<span class="h1">Game Radar</span>
	<ul class="post-list">
		<li class="post-item">
			<span>
				<a href = "https://www.mortalonline2.com/">Mortal Online 2</a> - classic sandbox "hardcore" mmorpg
			</span>
		</li>
	</ul>

	<span class="h1">Music Radar</span>
	<ul class="post-list">
		<li class="post-item">
			<span>
				<a href = "https://www.youtube.com/watch?v=1gX1EP6mG-E">Wagon Wheel</a> - Old Crow Medicine Show
			</span>
		</li>
	</ul>

	<span class="h1">More Stuff</span>
	<% if (theme.tags_overview && site.tags.length) { %>
	<span class="h2"><%= __('index.topics') %></span>
	<span class="widget tagcloud">
		<%- tagcloud(theme.tags_overview) %>
	</span>
	<span class="h2"><%= __('index.most_recent') %></span>
	<% } %>
	<ul class="post-list">
		<% var field_sort = theme.posts_overview.sort_updated ? 'updated' : 'date' %>
		<% var show_posts = page.posts.sort(field_sort, 'desc') %>
		<% show_posts.each(function(post, i){ %>
		<% if (i >= 6) { %>
		<li class="post-item">
			<%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
			<span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
		</li>
		<% } %>
		<% }); %>
	</ul>
	<% if (theme.posts_overview.show_all_posts) { %>
	<%- partial('_partial/pagination') %>
	<% } %>

	<span style="display: block; margin: auto; margin-top: 40px; margin-bottom: 40px; width: 181px;">
		<a href="https://twitter.com/JustinBarnyak?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @JustinBarnyak</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</span>
</section>
