<section id="about">
	<% var field_sort = theme.posts_overview.sort_updated ? 'updated' : 'date' %>
	<% var show_posts = page.posts.sort(field_sort, 'desc') %>
	<% show_posts.each(function(post, i){ %>
	<% if (i < 6) { %>

	<% if (i == 0 || i == 3) { %>
	<span class="featuredCard featuredCardBig">
		<% } else { %>
		<span class="featuredCard">
			<% } %>

			<span class="featureCardInner">
				<span style="font-weight: bold;"
					class="featuredCardTitle"><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
				<img onclick="document.location='<%- post.permalink %>';return false;" src="<%- post.thumbnail %>"
					class="featuredCardImage hasTarget" />
			</span>
		</span>
		<% } %>
		<% }); %>
		<% if (theme.posts_overview.show_all_posts) { %>
		<%- partial('_partial/pagination') %>
		<% } %>
</section>

<section id="writing" style="margin-bottom: 20px;">

	<!-- <span class="h1 hc">The Radar</span>
	<div id="radarButton">
		<svg onclick="document.location='https://barnyak.com/radar';return false;" version="1.1" id="military_1_" xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 128 128"
			style="enable-background:new 0 0 128 128;" xml:space="preserve">
			<style type="text/css">
				.st0 {
					fill: #0f0f0f;
				}

				.st1 {
					display: none;
				}

				.st2 {
					display: inline;
				}
			</style>
			<g id="row3_1_">
				<g id="radar">
					<g>
						<path class="st0" d="M64,0C28.7,0,0,28.7,0,64c0,35.3,28.7,64,64,64c35.3,0,64-28.7,64-64C128,28.7,99.3,0,64,0z M94,64
				c0,0.3,4,1.6,4,0c0,18.8-15.2,34-34,34c-18.8,0-34-15.2-34-34c0-17.4,13.1-31.8,30-33.8v4c-14.7,2-26,14.5-26,29.7
				c0,16.6,13.4,30,30,30C80.6,94,94,80.6,94,64z M62,38v-3.9v-4v-14v-4v0v-2c0,0,1.6,0,3.2,0c1.4,0,2.8,0,2.8,0v2v26v16.5
				c3.5,1.2,6,4.6,6,8.5c0,5-4,9-9,9s-9-4-9-9c0-3.9,2.5-7.2,6-8.5V38z M69.8,115.7c-0.8,3.6-4,6.3-7.8,6.3c-4.1,0-7.4-3-7.9-7
				c-22.8-4.4-40.2-23.7-41.9-47.3C8.6,66.9,6,63.8,6,60c0-4.2,3.3-7.6,7.4-7.9C18.5,30.4,37.2,13.9,60,12.2v4
				C39.2,17.9,22.1,33,17.4,52.8c2.7,1.3,4.6,4,4.6,7.2c0,3.6-2.5,6.7-5.8,7.7c1.6,21.6,17.6,39.2,38.4,43.4c1.2-3,4.1-5,7.4-5
				c3.6,0,6.6,2.4,7.6,5.6c23.8-2.8,42.4-23,42.4-47.6c0,0.2,4,0,4,0C116,90.8,95.8,112.8,69.8,115.7z" />
					</g>
				</g>
				<g id="google" class="st1">
					<g class="st2">
						<path class="st0" d="M91.8,27.9v-2.8h-5.6v-2.8H75.1v2.8h-5.6v5.6H58.4v-5.6h-5.6v-2.8H41.7v2.8h-5.6v2.8c0,0-17.8,11.7-25,19.4
				c-9.2,10-8.3,13.9-8.3,13.9s5.6-19.4,30.6-19.4c19.6,0,30.6,25,30.6,25s9.8-25,30.6-25c17.8,0,24.5,9,26.7,13.7
				c-1-2.5-2.6-6.1-4.5-8.2C113.8,43.8,91.8,27.9,91.8,27.9z M30.6,44.6C13.7,44.6,0,58.2,0,75.1c0,16.9,13.7,30.5,30.6,30.5
				c16.9,0,30.6-13.7,30.6-30.5C61.2,58.2,47.5,44.6,30.6,44.6z M30.6,97.3c-12.3,0-22.3-9.9-22.3-22.2c0-12.3,10-22.2,22.3-22.2
				c12.3,0,22.3,9.9,22.3,22.2C52.9,87.4,42.9,97.3,30.6,97.3z M86.3,61.3c-5.9,5.9-5,22-5,22s3.5-13.6,8.1-18.3
				c4.7-4.7,14.2-8.1,14.2-8.1S92.2,55.4,86.3,61.3z M121.9,56.8c-0.1-0.4-0.3-0.8-0.6-1.3c0.2,0.4,0.3,0.8,0.5,1.2
				c-5.6-7.4-14.4-12.1-24.4-12.1c-16.9,0-30.6,13.7-30.6,30.5c0,16.9,13.7,30.5,30.6,30.5c16.9,0,30.6-13.7,30.6-30.5
				C128,68.2,125.7,61.9,121.9,56.8z M97.4,97.3c-12.3,0-22.3-9.9-22.3-22.2c0-12.3,10-22.2,22.3-22.2c12.3,0,22.3,9.9,22.3,22.2
				C119.7,87.4,109.7,97.3,97.4,97.3z M19.3,61.5c-5.9,5.9-5,21.8-5,21.8s3.5-13.5,8.1-18.2c4.6-4.6,14.2-8.1,14.2-8.1
				S25.2,55.6,19.3,61.5z" />
					</g>
				</g>
				<g id="helicopter" class="st1">
					<g class="st2">
						<path class="st0" d="M10.6,87C6.4,87,3,90.4,3,94.5c0,4.2,3.4,7.6,7.6,7.6c4.2,0,7.6-3.4,7.6-7.6C18.1,90.4,14.8,87,10.6,87z
				 M4.7,91.7c0.4-0.7,1.3-1,2-0.6c0.7,0.4,1,1.3,0.6,2c-0.4,0.7-1.3,1-2,0.6C4.6,93.4,4.3,92.5,4.7,91.7z M5.4,98.2
				c-0.4-0.7-0.2-1.6,0.5-2.1c0.7-0.4,1.6-0.2,2.1,0.5c0.4,0.7,0.2,1.6-0.5,2.1C6.8,99.1,5.8,98.9,5.4,98.2z M6.3,99.3h2.1
				C7.9,99.9,6.9,99.9,6.3,99.3z M10.6,101.1c-0.8,0-1.5-0.7-1.5-1.5c0-0.8,0.7-1.5,1.5-1.5c0.8,0,1.5,0.7,1.5,1.5
				C12.1,100.4,11.4,101.1,10.6,101.1z M10.6,92c-0.8,0-1.5-0.7-1.5-1.5c0-0.8,0.7-1.5,1.5-1.5c0.8,0,1.5,0.7,1.5,1.5
				C12.1,91.3,11.4,92,10.6,92z M15.4,97.3c-0.4,0.7-1.3,1-2,0.6c-0.7-0.4-1-1.3-0.6-2s1.3-1,2-0.6C15.5,95.7,15.8,96.6,15.4,97.3z
				 M15.3,94c-0.7,0.4-1.6,0.2-2.1-0.5c-0.4-0.7-0.2-1.6,0.5-2.1c0.7-0.4,1.6-0.2,2.1,0.5C16.2,92.6,16,93.6,15.3,94z M27.9,88.2
				L26.7,86l-1.2,2.2l-2.4,0.5l1.6,1.9L24.5,93l2.2-1.1l2.2,1.1l-0.3-2.5l1.6-1.9L27.9,88.2z M118.4,87c-4.2,0-7.6,3.4-7.6,7.6
				c0,4.2,3.4,7.6,7.6,7.6c4.2,0,7.6-3.4,7.6-7.6C126,90.4,122.6,87,118.4,87z M112.6,91.7c0.4-0.7,1.3-1,2-0.6c0.7,0.4,1,1.3,0.6,2
				c-0.4,0.7-1.3,1-2,0.6C112.5,93.4,112.2,92.5,112.6,91.7z M113.2,98.2c-0.4-0.7-0.2-1.6,0.5-2.1c0.7-0.4,1.6-0.2,2.1,0.5
				c0.4,0.7,0.2,1.6-0.5,2.1C114.6,99.1,113.7,98.9,113.2,98.2z M114.1,99.3h2.1C115.7,99.9,114.7,99.9,114.1,99.3z M118.4,101.1
				c-0.8,0-1.5-0.7-1.5-1.5c0-0.8,0.7-1.5,1.5-1.5c0.8,0,1.5,0.7,1.5,1.5C119.9,100.4,119.3,101.1,118.4,101.1z M118.4,92
				c-0.8,0-1.5-0.7-1.5-1.5c0-0.8,0.7-1.5,1.5-1.5c0.8,0,1.5,0.7,1.5,1.5C119.9,91.3,119.3,92,118.4,92z M123.3,98.2
				c-0.4,0.8-1.3,1-2.1,0.7c-0.8-0.4-1-1.3-0.7-2.1c0.4-0.8,1.3-1,2.1-0.7C123.4,96.5,123.7,97.5,123.3,98.2z M123.1,94
				c-0.7,0.4-1.6,0.2-2.1-0.5c-0.4-0.7-0.2-1.6,0.5-2.1c0.7-0.4,1.6-0.2,2.1,0.5C124,92.6,123.8,93.6,123.1,94z M106.5,88.2
				l-1.2-2.2l-1.2,2.2l-2.4,0.5l1.6,1.9l-0.3,2.5l2.2-1.1l2.2,1.1l-0.3-2.5l1.6-1.9L106.5,88.2z M68.6,27.4c0,0-2.7-4.6-5.1-4.6
				c-2.5,0-4.1,4.6-4.1,4.6H0V32h128v-4.6H68.6z M122,80.9L87.7,70.8c0,0,0.3,4.1,0,8.1c-0.2,3.5-2,7.1-2,7.1H122V80.9z M73.6,44.6
				c0,0,7.2,0.5,7.2-1.9c0-2.7-10.8-4.1-11.6-5.4c-1.1-1.9-2.1-3.5-2.1-3.5L67,33.5H61l-0.1,0.3c0,0-0.9,1.5-2,3.4
				c-0.8,1.3-11.6,2.8-11.6,5.4c0,1.6,7.2,1.9,7.2,1.9H73.6z M95.4,88.2L94.2,86l-1.2,2.2l-2.4,0.5l1.6,1.9L92.1,93l2.2-1.1l2.2,1.1
				l-0.3-2.5l1.6-1.9L95.4,88.2z M74.6,45.6H53.4c0,0-12.1,15.7-12.1,26.8c0,10.9,4.2,19.7,10.5,25.2c11,0,11.4,0,24.4,0
				c5.9-5.6,10.5-14.7,10.5-25.2C86.7,61.7,74.6,45.6,74.6,45.6z M47.2,70.1c0,0,0.2-5.1,1.9-9.7c6.2-17,27.1-9.1,28.7-1
				c3,4.4,2.9,10.7,2.9,10.7H47.2z M38,88.2L36.8,86l-1.2,2.2l-2.4,0.5l1.6,1.9L34.6,93l2.2-1.1L39,93l-0.3-2.5l1.6-1.9L38,88.2z
				 M40.3,70.8L7.1,80.9v5h35.3c0,0-1.8-2.8-2-6.1C40,75.7,40.3,70.8,40.3,70.8z M59.5,105.1h10.1l3-6.1H55.5L59.5,105.1z
				 M64.5,100.1c1.1,0,2,0.9,2,2c0,1.1-0.9,2-2,2c-1.1,0-2-0.9-2-2C62.5,101,63.4,100.1,64.5,100.1z M70.2,54.7l-7.6,13.2l1.3,0.8
				l7.6-13.2L70.2,54.7z M67.1,68.1l0.9,0.5l5.2-8.6l-0.9-0.5L67.1,68.1z" />
					</g>
				</g>
				<g id="cap" class="st1">
					<g class="st2">
						<path class="st0" d="M15.1,76c0,8.2,26.6,22.1,48.9,22.1s47-14,47-22.1c-12.6,4.3-24.7,11.1-47,11.1S27.7,80.1,15.1,76z
				 M128,53.9c-1-8.2-28.6-24-64-24c-35.3,0-64,12.8-64,24c0,11.2,28.6,27.7,64,27.7C99.3,81.5,129,62,128,53.9z M73.9,64.1
				C74.7,75.7,65,76.7,63,77.8c-2-1.1-11.6-2.1-10.8-13.7c0.2-2.4-1.4-3-1.4-3l0.9-2.4c2.8,1.5,8.2,1.5,11.3-1.1
				c3.1,2.6,8.5,2.7,11.3,1.1l0.9,2.4C75.3,61.1,73.7,61.7,73.9,64.1z" />
					</g>
				</g>
				<g id="f-22" class="st1">
					<g class="st2">
						<path class="st0" d="M84.7,106.4l25.7-12.2v-9.3L79,59.7V41l-8.6-11.5c0,0-3.1-29.5-6.2-29.5c-3.3,0-6.6,29.5-6.6,29.5L48.3,41
				v18L17.6,84.9v10.1l25.7,10.8l5.7-2.9v1.4l-16.4,11.5v9.3l10.7,2.9l11.4-9.3v-12.2h1.4l2.9,13.7h9.3l2.9-13.7h1.4l0.7,12.9
				l11.4,8.6l10-2.9v-8.6L79,105v-2.2L84.7,106.4z M54.6,37.5c-2.6,3.2-5,5.6-5.3,5.3c-0.3-0.3,1.6-3.1,4.2-6.3
				c2.6-3.2,5-5.6,5.3-5.4C59.1,31.5,57.2,34.3,54.6,37.5z M64,44.6c-1.6,0-2.9-5.8-2.9-12.9c0-7.2,1.3-12.9,2.9-12.9
				s2.9,5.8,2.9,12.9C66.9,38.8,65.6,44.6,64,44.6z M78.2,42.4c-0.3,0.2-2.6-2.1-5.1-5.3C70.6,34,68.7,31.2,69,31
				c0.3-0.3,2.6,2.1,5.1,5.3C76.7,39.4,78.5,42.1,78.2,42.4z" />
					</g>
				</g>
			</g>
			<g id="row2_1_">
				<g id="bomb" class="st1">
					<g class="st2">
						<path class="st0" d="M112.8,23.5l-17.3,2L81.2,43.9h-2l14.4-19.6c0,0,7.8-11.7,2-15.2c-5.7-3.4-12.2,10.5-12.2,10.5L71,36.9
				l-2.1-1.1l12.3-18.4L72,0L59.8,21.3l8.3,14.2c0,0-17.2,1.2-22.6,10.6L19.9,90.4c-7.4,12.7-6.5,26.9,6.2,34.3
				c12.7,7.3,27.2,2,34.6-10.8l25.6-44.3c4.2-7.2-2.2-24.9-2.2-24.9l16.5,0.1L112.8,23.5z M28.4,100.1c-1.7,3-0.3,7.4,1.2,10.2
				c3.7,6.9-0.9,4.2-3.8,2.5C20,109.4,18,101.8,21.4,96l25.6-44.3l7.1,4.1L28.4,100.1z" />
					</g>
				</g>
				<g id="rank" class="st1">
					<g class="st2">
						<path class="st0" d="M22.6,108.2V128l41-40.4l41.8,40.4v-18.9L63.6,66.2L22.6,108.2z M22.6,75.1v19.8l41-40.4l41.8,40.4v-19
				L63.6,33.1L22.6,75.1z M63.6,0l-41,42v19.8l41-40.4l41.8,40.4V42.8L63.6,0z" />
					</g>
				</g>
				<g id="AK_x5F_47" class="st1">
					<g class="st2">
						<path class="st0" d="M110,74.7c-2-0.7-4.8-0.2-4.8-0.2l-10.4-6.1l-2.5-5.2L62.2,52.6l0.4-1.1l-2.8-1l-1.5-1.2l-4.5-1.6L53.3,49
				l-0.9-0.3L52,48l-14.2-5l-1.2,0.6L25,39.5c0,0-1.1,1.2-2.6,1.8c-1.5,0.6-3.3,0.5-3.3,0.5l-8.6-3L10,33.2l0.3-1.6l-2.2-0.8
				l-2.1,5.3l-1.8,0.3L3,36.1l-3,0.9l4,1.7l0.8,2l1.7,0.6l0.2-0.2l-0.2,0.6l27,9.5l-0.1,0.3l17.3,6.6l3.9,2.6l1.9-0.5l7.2,3
				c0,0-2.7,4.8-6.3,7.4c-5.3,4-12.1,6.3-12.1,6.3l2,8.7c0,0,7.8-1.3,13.2-5.2c6.2-4.5,10.2-11.8,10.2-11.8l1.7-0.1l0.1,3.2l1.1,0.4
				l0.7,1.5l6,2.1l1.3-1c0,0,0.9,0.7,1.1,2.3c0.4,3.4,0.1,9.2,0.1,9.2s0,1.8,3,2.5c1.7,0.4,3.2-1.5,3.2-1.5l0.7-10.1
				c0,0,1-1.1,1.4-1.9c0.4-0.9,1.2-0.6,1.2-0.6l29.2,22.8l6.5-12.9C128,84.2,112.1,75.4,110,74.7z M25,42.1l9,3.2l-0.5,1.5l-9-3.2
				L25,42.1z M33.8,50.1L7,40.7l0.6-0.6l26.5,9.3L33.8,50.1z M36.9,46.3l1.3,0.5l-0.2,0.6L36.6,47L36.9,46.3z M48.1,51.5l-4.5-1.6
				l0.3-0.9l-0.2,0.5L42.4,49l-0.2,0.4l-4.5-1.6l0.5-1.5l4.5,1.6l-0.2,0.6l0.1-0.2l1.3,0.5l0.2-0.4l4.5,1.6L48.1,51.5z M81.6,73.7
				l-1.3,1l-5.2-1.8l-0.8-1.2l1.3-3.6l3.4,1.2c0,0,1.4,0.9,0.8,2.5c-0.6,1.7-2.5,0.8-2.5,0.8l-0.2,0.4c0,0,1.1,0.3,1.9,0
				c0.8-0.3,1.4-1.2,1.4-1.2l1.9-0.5L81.6,73.7z" />
					</g>
				</g>
				<g id="knife" class="st1">
					<g class="st2">
						<path class="st0"
							d="M56.3,92.2l29.3-29.3l-5-5l-11.8-0.6l3.3-7.9l-11.7-0.5l2.8-8.4l-11.2-2.8l1.4-7c0,0-19.8-6.8-25.1-11.2
				C16.2,9.6,8.8,0,8.8,0S-0.7,35.2,20,55.9C39.3,75.2,56.3,92.2,56.3,92.2z M18.6,43.3l-1.4-7l47.5,47.5l-2.8,2.8L18.6,43.3z
				 M99.6,60.1c-2.3-2.3-6.1-2.3-8.4,0L54.9,96.4c-2.3,2.3-2.3,6.1,0,8.4c2.3,2.3,6.1,2.3,8.4,0l36.3-36.3
				C101.9,66.2,101.9,62.4,99.6,60.1z M119,105l-20.5,20.5c5.8,3.8,13.6,3.2,18.7-1.9C122.1,118.6,122.8,110.8,119,105z
				 M117.1,102.7l-11.9-11.9l-21,21l5.6,5.6l21-21l1.4,1.4l-21,21l4.9,4.9c0.2,0.2,0.5,0.4,0.7,0.7l20.9-20.9
				C117.5,103.2,117.3,102.9,117.1,102.7z M104.7,90.3L91.2,76.9l-21,21l5.6,5.6l21-21l1.4,1.4l-21,21l5.6,5.6l21-21L104.7,90.3z" />
					</g>
				</g>
				<g id="tank" class="st1">
					<g class="st2">
						<path class="st0" d="M52.9,33.8L52.9,33.8l9.5,8.7l8.2,0.1v-4.4l-14.7-8.8L52.9,33.8L52.9,33.8z M72.1,44.1H61.8l-10.3-8.8v4.4
				l-8.8,0v16.2h48.5V39.7H79.3l0.2-4.4h-9.9l2.6,2.9V44.1z M5.9,75v-1.5h120.8l-7.3-5.1l-0.9-3.4l-19-7.7H38.2l-2.6,2.6L14,66.8
				v2.6c0,0-8.2,2.7-12.1,6.8c-2.8,2.9-1.7,7.7-1.7,7.7H3l0,0H125v0h3V75H5.9z M6.4,95.8l12.1,11.1h17.3l4.7-8l-2.3,1.1h-25
				l-1.5-1.5h28.9l3.4-5.9h45.6l6.1,17.7h18.8L125,97.1V85.3H3.4L6.4,95.8z M36.8,103l-1.5,1.5H17.7l-1.5-1.5H36.8z M114.8,108.9
				H95.6v-1.5h20.6L114.8,108.9z M116.2,104.4H95.6V103h23.5L116.2,104.4z M120.6,100H94.2v-1.5h28L120.6,100z M91.2,92.7h32.4v2.9
				H91.2V92.7z M42.7,92.7l-1.5,2.9H8.8l-1.5-2.9H42.7z M52.9,33.8l3-4.4l-8.6-10.3c0,0-3.8-3-7.9-0.4c-5.1,3.3-1.2,9.2-1.2,9.2
				L52.9,33.8z M42.7,20.6c1.6,0,2.9,1.3,2.9,2.9s-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9S41.1,20.6,42.7,20.6z" />
					</g>
				</g>
			</g>
			<g id="row1_1_">
				<g id="parachute" class="st1">
					<g class="st2">
						<path class="st0" d="M67.5,112.4h0.7l51.1-57c0-30.6-26-55.4-56.1-55.4C33.1,0,8.7,24.8,8.7,55.4c1.6,0,3.3,0,4.9,0
				c0-7.4,0.8-13.4,8-13.4c7.1,0,11.8,5.9,11.8,13.3c0.2,0,0.5,0,0.7,0L58,108.1L13.7,55.4H8.7l48.9,56.4c-2.6,1.5-4.3,4.3-4.3,7.5
				c0,4.8,3.9,8.7,8.7,8.7c4.8,0,8.7-3.9,8.7-8.7C70.8,116.5,69.5,114,67.5,112.4z M104.7,41.9c7.1,0,9.6,6,9.6,13.4l-46,53l24.5-53
				C92.9,47.9,97.6,41.9,104.7,41.9z M37.5,55.2c0.3,0,0.7,0,1,0c0.1-7.3,3.8-13.2,10.9-13.2c7,0,11.9,5.7,12.2,12.9
				c1.1,0,2.3,0,3.3-0.1c0.2-7.2,5.2-13,12.2-12.9c10.8,0.1,11.2,12.4,11.2,12.4l-23.4,54.3V55.4h-3.3v53.4L37.5,55.2z" />
					</g>
				</g>
				<g id="Barbed_x5F_wire" class="st1">
					<g class="st2">
						<path class="st0" d="M43.9,40.9c-3.5-2.1-8-0.8-10.1,2.7L0,106l16.7-0.4l30-54.6C48.6,47.5,47.4,42.9,43.9,40.9z M62.8,45.2
				c-3.5-2-8-0.8-10.1,2.7l-18,31.4c-2,3.6-0.8,8.1,2.7,10.1c3.5,2,8,0.8,10.1-2.7l18-31.4C67.5,51.7,66.3,47.2,62.8,45.2z
				 M84.1,45.2c-3.5-2-8-0.8-10.1,2.7L56,79.3c-2,3.6-0.8,8.1,2.7,10.1c3.5,2,8,0.8,10.1-2.7l18.1-31.4
				C88.8,51.7,87.6,47.2,84.1,45.2z M109.9,22L76.5,81.7c-2.1,3.6-0.8,8.1,2.7,10.2c3.6,2.1,8.2,0.8,10.2-2.7L126.4,22H109.9z
				 M29.5,43.4L16.4,22H0l21.3,34.6L29.5,43.4z M105.3,65.9l-7.9,15.3l15.2,24.9l15.4,0L105.3,65.9z" />
					</g>
				</g>
				<g id="grenade" class="st1">
					<g class="st2">
						<path class="st0"
							d="M21.4,49.1c2.6-0.3,6.4-0.6,10.9-0.9c1.1-6.6,2.4-11.8,3.1-14.7C30.1,37.2,25.2,42.6,21.4,49.1z M38.9,109
				c1.2,8.2,2.5,14.5,3.1,17.3c3.1,1,6.3,1.6,9.6,1.6c3.3,0,6.6-0.6,9.6-1.6c0.6-2.8,1.9-9.1,3.1-17.2c-3.7,0.2-7.6,0.3-11.4,0.3
				C48.1,109.4,43.3,109.3,38.9,109z M38.1,102.8c4.5,0.2,9.3,0.4,14.2,0.4c4.4,0,8.8-0.1,12.9-0.3c0.8-6.3,1.5-13.3,1.8-20.3H36.3
				C36.6,89.6,37.3,96.6,38.1,102.8z M29.9,74.7c0-7.1,0.6-14,1.4-20.2c-6.6,0.5-11.6,1-13.2,1.2c-2.7,6.4-4.4,13.4-4.7,20.7h16.5
				C29.9,75.8,29.9,75.3,29.9,74.7z M64.6,47.8c-1.2-6.7-2.4-12-3.1-14.7c-5.9,0-13.3,0-19.7,0c-0.7,2.7-2,8.1-3.2,14.8
				c4.3-0.2,8.9-0.4,13.6-0.4C56.4,47.5,60.6,47.6,64.6,47.8z M30.1,82.6H13.6c0.4,6.7,1.9,12.9,4.1,18.6c0.9,0.1,6.5,0.7,14.2,1.3
				C31.1,96.3,30.4,89.5,30.1,82.6z M20.8,107.7c3.7,6.6,8.6,11.9,14.3,15.4c-0.7-3.4-1.6-8.5-2.4-14.5
				C27.7,108.3,23.5,108,20.8,107.7z M71.4,102.6c6.2-0.4,11.3-0.9,14.1-1.2c2.3-5.7,3.8-12.1,4.2-18.8H73.1
				C72.8,89.5,72.2,96.4,71.4,102.6z M71.8,54.4c0.9,6.3,1.5,13.5,1.5,20.7c0,0.4,0,0.9,0,1.3h16.5c-0.3-7.5-1.9-14.6-4.5-20.9
				C82.5,55.2,77.7,54.7,71.8,54.4z M108.7,37.5c3.6-4,5.8-9.3,5.8-15C114.6,10.1,104.4,0,91.9,0c-6.1,0-11.6,2.4-15.7,6.2H42.3V31
				h18.6V20.6h8.3c0,0.6-0.1,1.2-0.1,1.8c0,5.6,2.1,10.7,5.5,14.6c4.2,4.8,7.3-0.7,4.3-4.5c-2.2-2.8-3.5-6.3-3.5-10.1
				c0-0.6,0-1.2,0.1-1.8h2l26.8,68.1l4.1-2.1L79.5,11.6c3-3.4,7.4-5.5,12.4-5.5c9.1,0,16.5,7.3,16.5,16.3c0,3.9-1.4,7.6-3.8,10.4
				C101.6,36.5,104.6,42,108.7,37.5z M50.6,20.6c-2.3,0-4.1-1.8-4.1-4.1s1.8-4.1,4.1-4.1s4.1,1.8,4.1,4.1S52.9,20.6,50.6,20.6z
				 M52.4,53.7c-5.1,0-10.2,0.2-14.8,0.4c-0.9,6.3-1.5,13.5-1.5,20.8c0,0.5,0,1,0,1.5h30.9c0-0.4,0-0.7,0-1.1
				c0-7.5-0.7-14.8-1.6-21.3C61.4,53.8,56.9,53.7,52.4,53.7z M68.1,123.1c5.6-3.5,10.5-8.8,14.2-15.2c-3,0.3-7.1,0.6-11.8,0.9
				C69.7,114.7,68.8,119.7,68.1,123.1z M82.1,49c-3.8-6.6-8.7-11.9-14.3-15.5c0.7,2.9,2,8.1,3.1,14.6C75.3,48.4,79.1,48.7,82.1,49z" />
					</g>
				</g>
				<g id="bullet" class="st1">
					<g class="st2">
						<path class="st0" d="M29.5,119.9h28.4V63H29.5V119.9z M29.5,128h28.4v-6.1H29.5V128z M43.7,0C38.9,0,32.1,45,30,58.9h27.3
				C55.3,45,48.4,0,43.7,0z M83.3,42.7c-7.6,0-15.2,13.5-15.2,21.8V67h30.5v-2.6C98.5,56.2,90.9,42.7,83.3,42.7z M68.1,119.9h30.5
				V69.1H68.1V119.9z M68.1,128h30.5v-6.1H68.1V128z" />
					</g>
				</g>
				<g id="target" class="st1">
					<g class="st2">
						<path class="st0"
							d="M54.6,32.2C42.8,35.6,33.7,45.3,31,57.4h4.4c2.5-9.7,9.9-17.5,19.3-20.7V32.2z M35.3,72.5H31
				c2.7,12.1,11.9,21.8,23.6,25.2v-4.5C45.2,90.1,37.9,82.3,35.3,72.5z M46.2,66.7h10.7v-3.6H46.2V66.7z M65.8,47.1h-3.5V56h3.5
				V47.1z M92.7,57.4H97c-2.7-12.1-11.9-21.8-23.6-25.2v4.5C82.8,39.8,90.1,47.6,92.7,57.4z M109.1,63.1
				c-0.9-23.7-19.8-42.7-43.4-43.6V6.2h-3.5v13.3c-23.5,0.9-42.4,19.9-43.4,43.6H0v3.6h18.9c0.9,23.7,19.8,42.8,43.4,43.7v11.4h3.5
				v-11.4c23.6-0.9,42.5-20,43.4-43.7H128v-3.6H109.1z M65.8,105.1V82.7h-3.5v22.5C41.5,104.2,25,87.5,24.1,66.7h20.4v-3.6H24.1
				C25,42.3,41.6,25.7,62.2,24.8v20.6h3.5V24.8c20.6,0.9,37.2,17.6,38.1,38.3H81.8v3.6h22.1C103,87.5,86.5,104.2,65.8,105.1z
				 M73.4,97.7C85.2,94.3,94.3,84.6,97,72.5h-4.4c-2.5,9.7-9.9,17.5-19.3,20.7V97.7z M64,59.5c-2.9,0-5.3,2.4-5.3,5.3
				c0,3,2.4,5.3,5.3,5.3s5.3-2.4,5.3-5.3C69.3,61.9,66.9,59.5,64,59.5z M80,63.1h-8.9v3.6H80V63.1z M62.2,80.9h3.6V72h-3.6V80.9z" />
					</g>
				</g>
			</g>
		</svg>
	</div>	 -->

	<span class="h1">More Stuff</span>
	<% if (theme.tags_overview && site.tags.length) { %>
	<span class="h2"><%= __('index.topics') %></span>
	<span class="widget tagcloud">
		<%- tagcloud(theme.tags_overview) %>
	</span>
	<span class="h2"><%= __('index.most_recent') %></span>
	<% } %>
	<ul class="post-list">
		<% var field_sort = theme.posts_overview.sort_updated ? 'updated' : 'date' %>
		<% var show_posts = page.posts.sort(field_sort, 'desc') %>
		<% show_posts.each(function(post, i){ %>
		<% if (i >= 6) { %>
		<li class="post-item">
			<%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
			<span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
		</li>
		<% } %>
		<% }); %>
	</ul>
	<% if (theme.posts_overview.show_all_posts) { %>
	<%- partial('_partial/pagination') %>
	<% } %>
</section>
