<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <div id="postLogoRegion">
      <a href = "/">
        <div id="logo" style="background-image: url(https://s3.amazonaws.com/barnyak.com/barnyak_logo_v3.svg);"></div>
      </a>
    </div>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta" style="margin-left: 70px;">
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      <%- partial('_partial/post/category') %>
      <%- partial('_partial/post/tag') %>
    </div>
  </header>
  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody">
    <%- page.content %>
  </div>
</article>
<%- partial('_partial/comments') %>
